
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>HR Management</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a routerLink="/employees" routerLinkActive='active'>Manage Employees</a>
                    </li>
                    <li>
                        <a routerLink="/leaves" routerLinkActive='active'>Manage Leave</a>
                    </li>
                    <li>
                        <a routerLink="/employee-info" >Update Employee info</a>
                    </li>
                    <li>
                        <a href="#">View Attendance</a>
                    </li>
                </ul>
            </li>
            <br>
            <li>

                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Expenses</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">View Expenses</a>
                    </li>
                </ul>
            </li>
            <br>
            <li>

                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Awards</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">View Awards</a>
                    </li>

                </ul>
            </li>
            <br>
            <li>

                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Memo</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Add Memo</a>
                    </li>
                    <li>
                        <a href="#">View Memo</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>


        </ul>


    </nav>
