

<nav class="navbar navbar-expand-lg navbar-custom">
  <!-- <a class="navbar-brand" href="#"> <img src="assets/images/cavaliers.png" width="50" height="50"><i><strong>avalliers</strong></i></a> -->

  <a class="navbar-brand" href="#">CAVALIAERS HRM</a>
  
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <!-- <a class="nav-item nav-link active" routerLink="/" routerLinkActive='active'>Home<span class="sr-only">(current)</span></a> -->
      <!-- <a class="nav-item nav-link active" routerLink="/contact" routerLinkActive='active'>Contact us<span class="sr-only">(current)</span></a> -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
  </div>
  <!-- <button class="btn btn-light my-2 my-sm-0" type="submit">Login</button> -->
  <a class="nav-item nav-link active" routerLink="/login" routerLinkActive='active'><span style="color:white">LOGIN</span><span class="sr-only">(current)</span></a>
 
</nav>





