/* .navbar-custom{
  background-color: midnight-blue #0f084bff;
} */

.navbar-custom {
  background-color: #001233;
  height: 13vh;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
  /* color:  rgba(255,255,255,.8); */
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: white;
  /* color: rgba(255,255,255,.5); */
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: white;
  /* color: #ffffff; */
}

.navbar-brand img{
    width: 70px;
    height: 70px;
}