<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>HR Management</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Dummy Heading</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a routerLink="/employees">Manage Employees</a>
                        </li>
                        <li>
                            <a href="#">Manage Leave</a>
                        </li>
                        <li>
                            <a href="#">View Departments</a>
                        </li>
                        <li>
                            <a href="#">View Attendance</a>
                        </li>
                    </ul>
                </li>
                <br>
                <li>

                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Expenses</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">View Expenses</a>
                        </li>
                    </ul>
                </li>
                <br>
                <li>

                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Awards</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">View Awards</a>
                        </li>

                    </ul>
                </li>
                <br>
                <li>

                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Memo</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Add Memo</a>
                        </li>
                        <li>
                            <a href="#">View Memo</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>


            </ul>


        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link waves-effect waves-light">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light">
                                    <i class="fas fa-bell"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0" href="#">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0" alt="avatar image" height="35">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div>
                <h4 class="mb-4 text-muted">Dashboard </h4>

                <div class="row">

                    <div class="col-md-6 col-lg-3 mb-4">
                        <div class="card border-0 rounded-0">
                            <div class="card-body">
                                <div class="card-innerBody d-flex align-items-center">
                                    <div class="card-icon text-light">
                                        <i class="fas fa-users" aria-hidden="true"></i>
                                    </div>
                                    <div class="ml-auto">
                                        <p class="card-label text-right text-muted">Total Employees</p>

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex">
                                <small class="text-muted">No. of Employees</small>
                                <small class="text-success ml-auto">
                          <!-- <i class="fa fa-caret-up" aria-hidden="true"></i> -->
                           {{total_staff}}
                        </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 mb-4">
                        <div class="card border-0 rounded-0">
                            <div class="card-body">
                                <div class="card-innerBody d-flex align-items-center">
                                    <div class="card-icon text-light">
                                        <i class="fas fa-bed" aria-hidden="true"></i>
                                    </div>
                                    <div class="ml-auto">
                                        <p class="card-label text-right text-muted">Leave Days</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex ">
                                <small class="text-muted">Days </small>
                                <small class="text-success ml-auto">
                          8,66%
                        </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 mb-4">
                        <div class="card border-0 rounded-0">
                            <div class="card-body">
                                <div class="card-innerBody d-flex align-items-center">
                                    <div class="card-icon text-light">
                                        <i class="fas fa-check-double"></i>
                                    </div>
                                    <div class="ml-auto">
                                        <p class="card-label text-right text-muted">Staff on Leave</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex ">
                                <small class="text-muted">Staff away</small>
                                <small class="text-danger ml-auto">
                          {{staff_on_leave}}
                        </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4">
                        <div class="card border-0 rounded-0">
                            <div class="card-body">
                                <div class="card-innerBody d-flex align-items-center">
                                    <div class="card-icon text-light">
                                        <i class="fas fa-briefcase"></i>
                                    </div>
                                    <div class="ml-auto">
                                        <p class="card-label text-right text-muted">Total Work Tasks</p>

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex ">
                                <small class="text-muted">Tasks</small>
                                <small class="text-success ml-auto">
                          {{total_tasks}}
                        </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card border-0 rounded-0">
                        <div class="card-title mb-1 p-3">
                            <h5>Attendance</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td><i class="fas fa-check"></i></td>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <div class="card border-0 rounded-0 h-100">
                        <div class="card-title mb-1 p-3">
                            <h5>Expense Report</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td><i class="fas fa-check"></i></td>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mt-5">
                <div class="col">
                    <div class="card border-0 rounded-0">
                        <div class="card-title mb-1 p-3">
                            <h5>Todays Month Birthday</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td><i class="fas fa-check"></i></td>


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <div class="card border-0 rounded-0 h-100">
                        <div class="card-title mb-1 p-3">
                            <h5>Awards</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td><i class="fas fa-check"></i></td>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</body>