@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.auth{
    background-color: #002855;
    color: #fff;
    height: 76vh;
    font-family: 'Concert One', cursive;
}
.form-signin{
    top: 20%;
    width: 28%;
    left: 35%;
    position: absolute;
}

form input{
    border-radius: 40px;
}

input[type="checkbox"]{
    margin-left: 2px;
}
::placeholder{
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

.form-check-label{
    margin-left: 30px;
    font-size: 14px;
}


button{
    border-radius: 40px;
    text-align: center;
    margin-left: 90px;
    margin-top: 30px;
    background-color: #FFF;
    color: #000;
}

button:hover{
    cursor: pointer !important;
    background-color: #837577 !important;
}