@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');

.auth{
    background-color: #002855;
    color: #fff;
    height: 80vh;
    font-family: 'Miriam Libre', sans-serif;
   
}
.form-signin{
    top: 20%;
    width: 28%;
    left: 35%;
    position: absolute;
}

form input{
    border-radius: 40px;
}

input[type="checkbox"]{
    margin-left: 2px;
}

.form-check-label{
    margin-left: 30px;
    font-size: 14px;
}


button{
    border-radius: 40px;
    text-align: center;
    margin-left: 75px;
    margin-top: 30px;
    background-color: #FFF;
    color: #000;
}

button:hover{
    cursor: pointer !important;
    background-color: #837577 !important;
}

#error1, #error2{
	color: red;
	font-size: 15px;
	position: relative;
	width: 85%;
	padding: 15px 20px 30px 15px;
	text-align: center;
	left: 3%;
}
.control-label{
    display: none;
}


#no_account{
    background: transparent;
    margin: 0 auto;
    margin-top: 4px;
    padding: 15px 10px 25px 50px;
    text-align: center;
    width: 30%;
    top: 80%;
    position: absolute;
    left: 33%;
}

a,#no_account a{
    position: relative;
    letter-spacing: -.5px;
}