<!-- <div class="sidenav">
    <a href="#dashboard">Dashboard</a>
    <a href="#tasks">Tasks</a>
    <a href="#applyLeave">Apply For Leave</a>
    <a href="#leaveDays">Leave Days</a>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-md-1">
            <div class="sidenav">
                <a href="#dashboard">Dashboard</a>
                <a href="#profile">My Profile</a>
                <a href="#tasks">Tasks</a>
                <a href="#applyLeave">Apply For Leave</a>
                <a href="#leaveDays">Leave Days</a>
            </div>
        </div>
        <div class="col-lg-11">
            <div class="navbar">
                <a href="#">Profile</a>
            </div><br>
            <div class="jumbotron">
                <div class="row">
                    <div class="column">
                      <div class="card">..</div>
                    </div>
                    <div class="column">
                      <div class="card">..</div>
                    </div>
                    <div class="column">
                      <div class="card">..</div>
                    </div>
                    <div class="column">
                      <div class="card">..</div>
                    </div>
                  </div>
            </div>
        </div>
    </div>

</div>
