<!-- <p>login works!</p> -->

<div class="card  my-5 mx-auto text-center copyright" style="width: 25rem; height: 36rem; background-color: #001845ff;">
  <div class="card-body mt-5">
    <h5 class="card-title">CAVALIERS</h5><br>
    <p class="card-text">Sign in to HRM</p>
    <div class="mt-5">
    <form>
      <div class="form-group">
        <!-- <label for="exampleInputEmail1">Email address</label> -->
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="form-group">
        <!-- <label for="exampleInputPassword1">Password</label> -->
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
      </div>
      <button type="submit" class="btn copyright btn-primary">Submit</button>
      <!-- <button type="submit" class="btn copyright" style="background-color: #979dacff!important;">Submit</button> -->
      <!-- #979dacff; -->
    </form>
  </div>
  </div>
</div>
