<!-- <h1>log in works</h1> -->
<div class="card  my-5 mx-auto text-center copyright" style="width: 25rem; height: 36rem; background-color: #001845ff;">
  <div class="card-body mt-5">
    <h5 class="card-title">CAVALIERS</h5><br>
    <p class="card-text">Sign in to HRM</p>
    <div class="mt-5" *ngIf="!_userService.token">
    <form>
      <div class="form-group">
        <!-- <label for="exampleInputEmail1">Email address</label> -->
        <input [(ngModel)]="user.username"  name = "username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"><span *ngFor="let error of _userService.errors.username"><br />
          {{ error }}</span>
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="form-group">
        <!-- <label for="exampleInputPassword1">Password</label> -->
        <input [(ngModel)]="user.password" name = "password"  type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"><span *ngFor="let error of _userService.errors.password"><br />
          {{ error }}</span>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
      </div>
      <button (click)="login()" type="submit" class="btn copyright btn-primary">Submit</button>
      <!-- <button type="submit" class="btn copyright" style="background-color: #979dacff!important;">Submit</button> -->
      <!-- #979dacff; -->
      <span *ngFor="let error of _userService.errors.non_field_errors">{{ error }}<br /></span>
    </form>
  </div>
  </div>
</div>

<div class="col-sm-12"> Welcome, You are logged in as {{ _userService.username }}. We are testing the service<br />
  Token Expires: {{ _userService.token_expires }}<br />
  <button (click)="refreshToken()" class="btn btn-primary">Refresh Token</button>
  <button (click)="logout()" class="btn btn-primary">Log Out</button>
</div>

