
<div class="container mt-3" style="height: 100vh;">
  <form>
    <div class="form-group">
      <input type="name" class="form-control" id="name" placeholder="Your name">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="Email address">
    </div>
    <div class="form-group">
      <textarea class="form-control" id="message" rows="5" placeholder="Your message"></textarea>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
    </div>
  </form>

</div>

