<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>CAVALIERS HRM</h3>
        </div>

        <ul class="list-unstyled components">
            <img src="../../assets/images/UC Logo.png" width="50" height="50" alt="">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a routerLink="/employee-id">Update Profile</a>
                    </li>
                    <li>
                        <a href="/leaves">View Leave Applications</a>
                    </li>
                    <li>
                        <a routerLink="/employee-id">View Birthdays </a>
                    </li>
                    <li>
                        <a routerLink="/employee-id">View Expenses</a>
                    </li>
                </ul>
            </li>
            <br>
            <li>

                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Expenses</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a routerLink="/employee-id">Apply For Expense Reimbursement</a>
                    </li>
                </ul>
            </li>
            <br>
            <li>

                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Awards</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a routerLink="/employee-id">View Awards</a>
                    </li>

                </ul>
            </li>
            <br>
            <li>

                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Memo</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                   
                    <li>
                        <a routerLink="/employee-id">View Memo</a>
                    </li>
                    
                </ul>
            </li>


        </ul>


    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    
                </button>

                <div class="collapse navbar-collapse bg-primary"  id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-effect waves-light">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light">
                                <i class="fas fa-bell"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="#">
                                <img src="../../assets/images/unknown.png"  class="rounded-circle z-depth-0" alt="avatar image" height="35">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a (click)='this._authService.logOut();' class="nav-link">Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div *ngIf="employee"  class="text-center offset-0 pb-3 bg-light">
            <!-- Employee Profile -->
            <img class="round" src="../../assets/images/unknown.png" width="200" height="200" alt="user" />
            <h3 >{{ employee.user.first_name }} {{ employee.user.last_name }}</h3>
            <p class="text-dark">{{ employee.user.email}}</p>
            <h6>Area of residence : {{ employee.country_of_residence }}</h6>
            <p class="text-dark">Department : {{ employee.department }} <br/> Role: {{ employee.designition }}</p>
            <div class="buttons">

                <button class="primary bg-info text-white ghost" type="button" data-toggle="modal" data-target="#myModal">View Tasks</button>
                <br><br>
                <button class="primary bg-primary text-white ghost mr-2" type="button" data-toggle="modal" data-target="#leaveModal"> APPLY LEAVE </button>
                <button class="primary bg-info text-white ghost mr-2">ON LEAVE</button>
                <button class="primary bg-primary text-white ghost mr-2"> AT WORK </button>
            </div>
            
        </div>
        <div  class="skills text-white">
            <h6 class=" ml-5">LEAVE CALENDAR</h6>
            <ul *ngFor = "let leave of leave" class=" ml-5">
                <li>START DATE: {{ leave.start_date|date}}</li>
                <li>END DATE: {{ leave.end_date|date }}</li>
                <li>STATUS : {{ leave.status }}</li>
                <li>REASON : {{ leave.reasons }}</li>
            </ul>
        </div>


        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Tasks</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div *ngFor = "let task of task" class="modal-body">
                        <table class="table table-striped" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Assigned On </th>
                                    <th>Deadline</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{task.name}}</td>
                                    <td>{{task.assigned_on|date}}</td>
                                    <td>{{task.deadline|date}}</td>
                                    <td>
                                        <button *ngIf="task.status==='Complete'" class="btn btn-success btn-sm waves-effect">Complete</button>
                                        <button *ngIf="task.status==='Incomplete'" class="btn btn-warning btn-sm waves-effect">Incomplete</button>
                                    </td>
                                    <td><button  *ngIf="task.status==='Incomplete'" (click)="makComplete(task)" class="btn btn-success btn-sm waves-effect">Mark Complete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- The Modal -->
        <div class="modal" id="leaveModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form name="leaveForm" id="leaveForm" #leaveForm='ngForm'>
                            <div class="modal-header">
                                <h4 class="modal-title">Apply For A Leave</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group mt-2">
                                    <input type="datetime-local" class="form-control" #start_date='ngModel' ng-model="start_date" [(ngModel)]="applyLeave.start_date" placeholder="Start Date " required id="start_date" name="start_date">
                                    <div [hidden]="start_date.valid || start_date.pristine" class="alert alert-danger">
                                        <p>Start date is required</p>
                                    </div>
                                </div>
                                <div class="form-group mt-2">
                                    <input type="datetime-local" class="form-control" #end_date='ngModel' ng-model="end_date" [(ngModel)]="applyLeave.end_date" placeholder="End Date " required id="end_date" name="end_date">
                                    <div [hidden]="end_date.valid || end_date.pristine" class="alert alert-danger">
                                        <p>End date is required</p>
                                    </div>
                                </div>
                                <div class="form-group mt-2">
                                    <input type="text" class="form-control" #reasons='ngModel' ng-model="reasons" [(ngModel)]="applyLeave.reasons" placeholder="Reason" required id="reasons" name="reasons">
                                    <div [hidden]="reasons.valid || reasons.pristine" class="alert alert-danger">
                                        <p>Reason is required</p>
                                    </div>
                                </div>
            
                                <div class="form-group mt-2">
                                    <input type="text" class="form-control" #comments='ngModel' ng-model="comments" [(ngModel)]="applyLeave.comments" placeholder="Comments" required id="comments" name="comments">
                                    <div [hidden]="comments.valid || comments.pristine" class="alert alert-danger">
                                        <p>Reason is required</p>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group text-center">
                                <button (click)="leaveApplication()" [disabled]="!leaveForm.valid" class="btn btn-white" type="submit">Apply</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>