<body>
    <table class="table offset-1">
        <tr>
            <th class="day-name" id="th">Sun</th>
            <th class="day-name" id="th">Mon</th>
            <th class="day-name" id="th">Tue</th>
            <th class="day-name" id="th">Wed</th>
            <th class="day-name" id="th">Thu</th>
            <th class="day-name" id="th">Fri</th>
            <th class="day-name" id="th">Sat</th>
        </tr>
        <tr>
            <td class="day"><span class="number">31</span><span class="event event-multiday"></span>
            </td>
            <td class="day"><span class="number">1</span><span class="event event-multiday"></span>
                <td class="day"><span class="number">2</span><span class="event event-multiday"></span>
                </td>
                <td class="day"><span class="number">3</span><span class="event event-multiday"></span>
                </td>
                <td class="day"><span class="number">4</span><span class="event event-multiday"></span>
                </td>
                <td class="day"><span class="number">5</span><span class="event event-multiday"></span>
                </td>
                <td class="day"><span class="number">6</span><span class="event event-multiday"></span>
                </td>
        </tr>
        <tr>
            <td class="day"><span class="number">7</span><span class="event event-multiday"></span>
            </td>
            <td class="day"><span class="number">8</span><span class="event event-multiday"></span>
            </td>
            <td class="day"><span class="number">9</span><span class="event event-multiday"></span>
            </td>
            <td class="day"><span class="number">10</span><span class="event event-multiday"></span>
            </td>
            <td class="day"><span class="number">11</span><span class="event event-multiday"></span>
            </td>
            <td class="day"><span class="number">12</span><span class="event event-multiday"></span>
            </td>
            <td class="day"><span class="number">13</span><span class="event event-multiday"></span>
            </td>
        </tr>
        <tr>
            <td class="day"><span class="number">14</span><span class="event event-multiday"></span>
            </td>
            <td class="day"><span class="number">15</span><span class="event event-multiday"></span>
            </td>
            <td class="day"><span class="number">16</span><span class="event event-multiday"></span>
            </td>
            <td class="day"><span class="number">17</span><span class="event event-multiday"></span>
            </td>
            <td class="day"><span class="number">18</span><span class="event event-multiday"></span>
            </td>
            <td class="day"><span class="number">19</span><span class="event event-multiday"></span>
            </td>
            <td class="day"><span class="number">20</span><span class="event event-multiday"></span>
            </td>
        </tr>
        <tr>
            <td class="day"><span class="number">21</span></td>
            <td class="day"><span class="number">22</span></td>
            <td class="day"><span class="number">23</span></td>
            <td class="day"><span class="number">24</span></td>
            <td class="day"><span class="number">25</span></td>
            <td class="day"><span class="number">26</span></td>
            <td class="day"><span class="number">27</span><span class="event event-multiday-start" style="background-color:#da5f5f;"></span></td>
        </tr>
        <tr>
            <td class="day"><span class="number">28</span><span class="event event-multiday" style="background-color:#da5f5f;"></span></td>
            <td class="day today"><span class="number">29</span><span class="event event-multiday-finish" style="background-color:#da5f5f;"></span></td>
            <td class="day"><span class="number">30</span></td>
            <td class="day"><span class="number">1</span></td>
            <td class="day"><span class="number">2</span></td>
            <td class="day"><span class="number">3</span></td>
            <td class="day"><span class="number">4</span></td>
        </tr>
        <tr>
            <td class="day"><span class="number">5</span></td>
            <td class="day"><span class="number">6</span><span class="event"></span></td>
            <td class="day"><span class="number">7</span></td>
            <td class="day"><span class="number">8</span></td>
            <td class="day"><span class="number">9</span></td>
            <td class="day"><span class="number">10</span></td>
            <td class="day"><span class="number">11</span></td>
        </tr>
    </table>


    <div class="row">
        <div class="col-md-9 offset-2" id="leave">
            <h5 class=" animated ">Employess Leave Details :</h5>
            <div class="d-flex justify-content-around">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#centralModalSm">
    Tasks
  </button>

                <!-- Central Modal Small -->
                <div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                    <!-- Change class .modal-sm to change the size of the modal -->
                    <div class="modal-dialog modal-lg" role="document">


                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title w-100" id="myModalLabel">Tasks</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                            </div>
                            <div class="modal-body">
                                <div class="card card-body" id="task">
                                    <table class="table table-sm" id="tasks">
                                        <tr id="tasks">
                                            <th id="tasks">Task D 1</th>
                                            <th id="tasks">Task D 2</th>
                                            <th id="tasks">Task D 3</th>
                                            <th id="tasks">Task D 4</th>
                                        </tr>


                                        <tr>
                                            <td id="td" id="tasks">Data</td>
                                            <td id="td" id="tasks"> Data </td>
                                            <td id="td" id="tasks"> Data </td>
                                            <td id="td" id="tasks"> Data </td>
                                        </tr>


                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Central Modal Small -->
            </div>
            <hr>
            <div class="card card-body" id="card">
                <table class="table table-sm" id="table">
                    <tr>
                        <th>Leave Entitlement</th>
                        <th>Leave Days</th>
                        <th>Approved Leave</th>
                        <th>Leave Days Remaining</th>
                    </tr>


                    <tr>
                        <td id="td">30</td>
                        <td id="td"> 30 </td>
                        <td id="td"> 25 </td>
                        <td id="td"> 9 </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>

</body>