<body id="body-pd">
    <!-- Another Component -->
    <div class="container">
        <header class="card" id="header">
            <section class="heading">
                <div class="toggle">
                </div>
                <h2 class="section-title ml-5" id="detail-header">Add Employee Info</h2>
                <a href="#" class="btn btn-primary" id="btn-right">Back</a>
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#centralModalSm">Save <i class="fas fa-angle-down fa-lg"></i></button>

<!-- Central Modal Small -->
<div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">

<!-- Change class .modal-sm to change the size of the modal -->
<div class="modal-dialog modal-sm" role="document">


  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
   
    <div class="modal-body">
        <i class="fas fa-plus"></i> Save & New
    </div>
    
    <div class="modal-body">
        <i class="fas fa-chevron-left"></i> Save & Close
    </div>
    <div class="modal-body">
        <i class="fas fa-times"></i> Close
    </div>
  </div>
</div>
</div>
<!-- Central Modal Small -->
                <!-- Button trigger modal -->

            </section>
            <form class="text-center p-5" action="#!" id="user-details">
                

                <div class="form-row mb-4">
                    <div class="col">
                        <label class="input-l">First Name :</label>
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <label class="input-r">Lasn Name :</label>
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <hr class="line">
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="" class="input-l">Email Address :</label>
                        <input type="email" class="form-control" placeholder="email">
                    </div>
                    <div class="col">
                        <label for="" class="input-r">Phone Number :</label>
                        <input type="phone-number" class="form-control" placeholder="">
                    </div>
                    <div class="col form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                              Default radio
                            </label>
                    </div>
                    <div class="col form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                              Default radio
                            </label>
                    </div>
                </div>
                <hr class="line">

                <div class="form-row mb-4">
                    <div class="col">
                        <label for="" class="input-l">Password :</label>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="col">
                        <label for="" class="input-r">Confirm Password :</label>
                        <input type="password" id="defaultRegisterFormLastName" class="form-control" placeholder="Confirm Password">
                    </div>
                    <div class="col">
                        <label for="" class="input-r">Confirm Password :</label>
                        <input type="password" id="defaultRegisterFormLastName" class="form-control" placeholder="Confirm Password">
                    </div>

                </div>
                <hr class="line">
                <div class="form-row mb-4">
                    <div class="col">
                        <label class="input-l">City :</label>
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <label class="input-r">County :</label>
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                    <div class="col">
                        <label class="input-r">Address :</label>
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>

                </div>
                <hr class="line">
                <div class="form-row mb-4">
                    <div class="col">
                        <label class="input-l">Country of Residense :</label>
                        <input type="text" class="form-control" placeholder="Country of Residense">
                    </div>
                    <div class="col">
                        <label class="input-r">Nationality :</label>
                        <input type="text" class="form-control" placeholder="Nationality">
                    </div>
                </div>




                <h2 class="section-title ml-2 mt-2" id="staff-info">Staff Information :</h2>
                <br>
                <br>
                <div class="form-row mb-4 mt-5">
                    <div class="col">
                        <label class="input-l">Employee number :</label>
                        <input type="text" class="form-control" placeholder="Employee number">
                    </div>
                    <div class="col">
                        <label class="input-r">Department :</label>
                        <input type="text" class="form-control" placeholder="Department">
                    </div>
                </div>

                <hr class="line">
                <div class="form-row mb-4">
                    <div class="col">
                        <label class="input-l">Supervisor :</label>
                        <input type="text" class="form-control" placeholder="Supervisor">
                    </div>
                    <div class="col">
                        <label class="input-r">Designation :</label>
                        <input type="text" class="form-control" placeholder="Designation">
                    </div>
                </div>

                <hr class="line">
                <div class="form-row mb-4">
                    <div class="col">
                        <label class="input-l">Country of Residense :</label>
                        <input type="text" class="form-control" placeholder="Country of Residense">
                    </div>
                    <div class="col">
                        <label class="input-r">Nationality :</label>
                        <input type="text" class="form-control" placeholder="Nationality">
                    </div>
                </div>

                <hr class="line">
                <div class="form-row mb-4">
                    <div class="col">
                        <label class="input-l">Joining Date :</label>
                        <input type="text" class="form-control" placeholder="Joining Date">
                    </div>
                    <div class="col">
                        <label class="input-r">Archive Date :</label>
                        <input type="text" class="form-control" placeholder="Archive Date">
                    </div>
                    <div class="col">
                        <label class="input-r">Employee Status id :</label>
                        <input type="text" class="form-control" placeholder="Employee Status id">
                    </div>
                </div>

                <h2 class="section-title ml-2 mt-2" id="staff-info">Salary Information :</h2>
                <br>
                <br>
                <hr class="line">
                <div class="form-row mb-4">
                    <div class="col-4">
                        <label class="input-l">Basic Salary :</label>
                        <input type="text" class="form-control" placeholder="Enter Employee Number">
                    </div>

                </div>

                <hr class="line">
                <div class="form-row mb-4">
                    <div class="col-4">
                        <label class="input-l">Update Leave for Day  :</label>
                        <input type="text" class="form-control" placeholder="Update Leave">
                    </div>

                </div>

                <h2 class="section-title ml-2 mt-2" id="staff-info">Bank Account Information :</h2>
                <br>
                <br>
                <hr class="line">
                <div class="form-row mb-4">
                    <div class="col-4">
                        <label class="input-l">Account Title :</label>
                        <input type="text" class="form-control" placeholder="Account Title">
                    </div>

                </div>

                <hr class="line">
                <div class="form-row mb-4">
                    <div class="col-4">
                        <label class="input-l">Account Number  :</label>
                        <input type="text" class="form-control" placeholder="Account Number">
                    </div>

                </div>

                <div class="form-row mb-4">
                    <div class="col-4">
                        <label class="input-l">Bank name  :</label>
                        <input type="text" class="form-control" placeholder="Bank name">
                    </div>

                </div>
            </form>

        </header>


    </div>

</body>