/*===== BASE =====*/

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background-color: #001845ff;
    position: relative;
    margin: 3rem 0 0 0;
    padding: 0 1rem;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    transition: .5s;
    height: 100vh;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

h5 {
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

h3 {
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
}

th,
td {
    font-family: 'Nunito', sans-serif;
    color: rgb(3, 3, 3);
    font-size: .9rem;
}

.body-pd {
    padding-left: calc(68px + 1rem);
}

#total-orders {
    background-color: #979dacff;
}


/* css for user details */

.btn {
    margin-left: auto;
    float: right;
    margin-bottom: 50px;
}

.heading {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    background-color: #33415C;
    height: 80px;
}

.section-title {
    color: #FFF;
}



#user-details {
    width: 100%;
    background-color: #979dacff;
}

hr {
    color: #FFF;
}

label {
    color: #FFF;
}

.input-l {
    float: left;
}

.input-r {
    float: left;
}

.btn {
    background-color: #979dacff;
    float: right;
    margin-top: 50px;
}

#btn-right{
    margin-left: 500px;
}

.line {
    width: 100%;
    /* height:100px; */
    border-bottom: 1px solid rgb(231, 228, 228);
}

#staff-info {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
}