<body id="body-pd">
    <!-- One another component -->

    <div class="container">
        <header class="card" id="header">
            <section class="heading">
                <div class="toggle">
                </div>

                <h2 class="section-title ml-5 text-center" id="detail-header">Manage roles</h2>


                <a href="#" class="btn">Back</a>

            </section>
            <div class="row ml-0" id="user-details">
                <div class="col-md-11">
                    <hr>
                    <div class="card-body" id="total-orders">



                        <table class="table">

                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td></td>
                                    <td>Superuser</td>
                                    <td>mark</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td></td>
                                    <td>Employee</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td></td>
                                    <td>Editor</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </header>


    </div>


</body>