@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');
.auth{
    background-color: #002855;
    color: #fff;
    height: 100vh;
    font-family: 'Miriam Libre', sans-serif;
}


.form-signin{
    width: 28%;
    left: 35%;
    position: absolute;
}

form input{

    border-radius: 5px;

    border-radius: 35px;

    justify-content: center;
    align-items: center;
}

::placeholder{
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}


input[type="checkbox"]{
    margin-left: 2px;
}


.form-check-label{
    margin-left: 30px;
    font-size: 14px;
}


button{

    border-radius: 15px;
    text-align: center;
    margin-left: 90px;
    margin-top: 30px;

    border-radius: 35px;
    text-align: center;
    margin-top: 20px;

    background-color: #FFF;
    color: #000;
}

button:hover{
    cursor: pointer !important;
    background-color: #837577 !important;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
      font-family: Montserrat,Arial, Helvetica, sans-serif;
  }
  select {
    width: 18%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
      font-family: Montserrat,Arial, Helvetica, sans-serif;
  }
  
  #form{
      margin-top: 55px;
  }
  .heading{
    margin-top: 55px;
  }

#no_account{
    background: transparent;
    margin: 0 auto;
    margin-top: 4px;
    padding: 15px 10px 25px 50px;
    text-align: center;
    width: 30%;
    top: 105%;
    position: absolute;
    left: 33%;
}

a,#no_account a{
    position: relative;
    letter-spacing: -.5px;
}


#error1, #error2{
	color: red;
	font-size: 15px;
	position: relative;
	width: 85%;
	padding: 15px 20px 30px 15px;
	text-align: center;
	left: 3%;
}
.control-label{
    display: none;
}


