<body>
    <br>
    <div class="container">
        <header class="card" id="header">
            <section class="heading">
                <div class="toggle">
                </div>

                <h2 class="section-title ml-5" id="detail-header">Update User Details</h2>


                <a href="#" class="btn">Explore now</a>
                <a href="#" class="btn" id="btn-right">Explore now</a>

            </section>
            <form class="text-center p-5" action="#!" id="user-details">

                <div class="form-row mb-4">
                    <div class="col">
                        <label class="input-l">First Name :</label>
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <label class="input-r">Lasn Name :</label>
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>

                </div>
                <hr class="line">
                <div class="form-row mb-4">
                    <div class="col">
                        <label for="" class="input-l">Username :</label>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="col">
                        <label for="" class="input-r">Email Address</label>
                        <input type="email" id="defaultRegisterFormLastName" class="form-control" placeholder="Email Address">
                    </div>

                </div>
                <hr class="line">

                <div class="form-row mb-4">
                    <div class="col">
                        <label for="" class="input-l">Password :</label>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="col">
                        <label for="" class="input-r">Confirm Password :</label>
                        <input type="password" id="defaultRegisterFormLastName" class="form-control" placeholder="Confirm Password">
                    </div>

                </div>
                <hr class="line">
                <div class="form-row mb-4">
                    <div class="col-4">
                        <label for="" class="input-l">Profile Image</label>
                        <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                        <button type="button" class="btn">Primary</button>
                    </div>


                </div>
            </form>

        </header>


    </div>
</body>