
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Cavaliers HRM </title>
</head>
<body>
    <div class="landingpage">
        <h2 class="text-center">Welcome to Ultimate Cavaliers HRM System.</h2>
        <p class="text-center">Managing employees efficiently.</p>  
        <p class="text-center"><a routerLink="/employee/login" routerLinkActive='active' class="btn  m-2">Employee Sign In</a> 
            <a routerLink="/departmenthead/login" routerLinkActive='active' class="btn m-2">Dept Head Sign In</a>
        </p>
    </div>
</body>
</html>