
<div class="card  my-5 mx-auto copyright font-weight-light" style="width: 50rem; height: 40rem; background-color: #5c677dff;">
  <div class="card-body mt-3">
    <h4 class="card-title copyright text-center font-weight-light">Update User Details</h4><br>
    <div class="mt-5">
    <form>
        <div class="form-row">
          <div class="col">
            <label for="exampleInputEmail1">First name</label>
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <label for="exampleInputEmail1">Last name</label>
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <hr style="border: 1px solid white;">
        <div class="form-row">
          <div class="col">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" placeholder="Username">
          </div>
          <div class="col">
            <label for="exampleInputEmail1">Email Address</label>
            <input type="text" class="form-control" placeholder="Email Address">
          </div>
        </div>
        <hr style="border: 1px solid white;">
        <div class="form-row">
          <div class="col">
            <label for="exampleInputEmail1">Password</label>
            <input type="text" class="form-control" placeholder="Password">
          </div>
          <div class="col">
            <label for="exampleInputEmail1">Confirm Password</label>
            <input type="text" class="form-control" placeholder="Confirm Password">
          </div>
        </div>
        <hr style="border: 1px solid white;">
        <div class="form-row">
          <div class="col">
            <label for="exampleInputEmail1">Profile Image</label>
            <input type="file" class="form-control" placeholder="Image" style="width: 20rem;">
          </div>
        </div>
        <br>
        <!-- <hr style="border: 1px solid white;"> -->
      <button type="submit" class="btn copyright btn-primary">Submit</button>
    </form>
  </div>
  </div>
</div>

